* {
  padding: 0px;
  margin: 1px;
  font-family: helvetica;
}

td {
  margin: 1px;
}

input {
  margin: 1px;
}





button.ui-datepicker-current {display: none;}
button.ui-datepicker-close {display: none;}